.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-logo {
color: #f4f4fd;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.33;
font-size: 18px;
letter-spacing: 0.54px;
text-decoration: none;
text-transform: uppercase;
}
.footer-logo span {
    color: #4D5AE5;
}
.footer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
}
.footer-social-list{
    display: flex;
    gap:16px;
    padding: 0;
    margin: 0;
}
.footer-social-link{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social-media {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-social-icon {
    fill: #fff;
}
.footer-container{
    display: flex;
    align-items: baseline;
    gap: 120px;
    justify-content: flex-start;
}
.footer-info{
    margin-right: 120px;
}
.footer-social{
    display: flex;
    flex-direction: column;
}